.testimonial-stylethree .main-wrapper .item img {
    width: 100%;
     border-radius: 0%;
     height: auto; 
    margin: 0 auto;
  }
    .testimonial-stylethree .carousel-control.right {
    right: 5%;
    margin-top: 15%;
}
.testimonial-stylethree .carousel-control.left {
    left: 5%;
    margin-top: 15%;
}
.testimonial-stylethree .main-wrapper {
	padding: 0px;
}